<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="animals"><a class="active" href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>

<form method="POST" action="/animals/<%= @animal.id %>" >

<label for="name">Name: </label>
<input type="text"
id="name"
value="<%= @animal.name %>"
name="name" />

<label for="type">Type: </label>
<input type="text"
id="type"
value="<%= @animal.type %>"
name="type" />

<label for="breed">Breed: </label>
<input type="text"
id="breed"
value="<%= @animal.breed %>"
name="breed" />

<label for="adoptable-select">Please Select: </label>

<select  
id="adoptable-select"
name="adoptable">

  <option value="Adoptable">Adoptable</option>
  <option value="Not-adoptable">Not-adoptable</option>
</select> 

<label for="admission_date">Admission Date (please use year-month-day format e.g. 2016-02-24): </label>
<input type="text"
id="admission_date"
value="<%= @animal.admission_date %>"
name="admission_date" />

<label for="url">Please enter a link to a picture of the animal: </label>
<input type="text"
id="url"
value="<%= @animal.url %>"
name="url" />


<input type="submit" value="Update Animal" class="form_button"/>



</form>