<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/">Home</a></li>
        <li class="animals"><a class="active" href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>

<div class="list_items">
<p><strong>Name:</strong> <%= @animal.name %></p>

<p><strong>Type: </strong><%= @animal.type %></p>

<p><strong>Breed: </strong><%= @animal.breed %></p> 

<p><strong>Adoptable?: </strong><%= @animal.adoptable %></p>

<p><strong>Admission date: </strong><%= @animal.admission_date %></p>

<div class="image">
<img src=<%= @animal.url %>>
</div>
<!-- <hr />  -->




<div class="navbar">
  <p> <a href="/animals/<%= @animal.id %>/edit">Click to Update</a></p>

</div>



<form method="POST" action="/animals/<%= @animal.id %>/delete" >


  <input type="submit" value="Click to Delete Animal from Database" class="form_button"/>

</form>

<div class="line_break">

</div>

</div>