<div class="details">
<p>Name: <%= @animal.name %></p>

<p>Type: <%= @animal.type %></p>

<p>Breed: <%= @animal.breed %></p> 

<p>Adoptable?: <%= @animal.adoptable %></p>

<p>Admission date: <%= @animal.admission_date %></p>
</div>
<hr /> 


<div class="navbar">
<p> <a href="/animals/<%= @animal.id %>/edit">Click to Update</a></p>

<p> <a href="/animals/<%= @animal.id%>/delete">Click to Delete</a></p>
</div>
