<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a class="active" href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>
</body>


<% @animals.each do |animal| %>

<p>Animal Name: <%= animal.name %></p>
<p> Type: <%= animal.type %></p>
<p> Admission Date: <%= animal.admission_date %></p>

  <div class="navbar">
  
<p> 
<a href="/animals/<%= animal.id %>">Show Full Details</a> 
</p> 


  </div>

 

<% if animal.adoptable == "Adoptable" %>
  <div class="navbar">
        <p> <a href="/animals/<%= animal.id %>/adopt">Adopt Animal</a> </p> 
  </div>
<% end %>


<!-- stored in a sidebar -->

<div class="navbar">
  <p> <a href="/animals/show_type">Click to Find all Cats</a></p>

</div>

<div class="navbar">
  <p> <a href="/animals/show_type">Click to Find all Dogs</a></p>

</div>
    
<!-- stored in a sidebar -->

<% end %>