<body class="shelter">
  <header>
    <div class="nav">
      <ul>
        <li class="home"><a href="/welcome">Home</a></li>
        <li class="animals"><a class="active" href="/animals">View Animals</a></li>
        <li class="owners"><a href="/owners">View Owners</a></li>
        <li class="new_owners"><a href="/owners/new">Add New Owner</a></li>
        <li class="new_animal"><a href="/animals/new">Add New Animal</a></li>
        <li class="adoptions"><a href="/adoptions">View Adoptions</a></li>
      </ul>
    </div>
  </header>

<div id="article" class="list_items">
    
<% @animals.each do |animal| %>

<p><strong>Animal Name: </strong><%= animal.name %></p>
<p> <strong>Type: </strong><%= animal.type %></p>
<p> <strong>Admission Date: </strong><%= animal.admission_date %></p>

  <div class="navbar">
  
<p> 
<a href="/animals/<%= animal.id %>">Show Full Details</a> 
</p> 


  </div>


<% if animal.adoptable == "Adoptable" %>
  <div class="navbar">
        <p> <a href="/animals/<%= animal.id %>/adopt">Adopt Animal</a> </p> 
  </div>
<% end %>

   
<hr>
</div>


<% end %>

    


</body>